[#if VIEW_MODE == 'addcity'#]
<script>
function searchCity() {
	$('#loaderResult').show();
	$('#result').show();
	input = $('#searchInput').val();
	count = input.length;

	if(count == 0) {
		$('#loaderResult').hide('fast');
		$('#result').hide();
	}
	
	$.ajax({
		url: 'https://weather.rambler.ru/api/v3/suggest/?query='+encodeURI(input)+'&count=10',
		success: function(data){
			//data = JSON.parse(data);
			//console.log(data.items[0]);
			$('#result').html('');
			
			if(data.items.length == 0) {
				$('#result').html('<div class="alert alert-danger">Упс! Мы не нашли такого города...</div>');
			}
			
			$('#loaderResult').hide('fast');
			$.each(data.items, function(indexCityList,valueCityList){
				$.each(valueCityList, function(index,value) {
					if(index == 'city') {
						old_text = $('#result').html();
						$('#result').html(old_text + '<li class="list-group-item">'+
						'<span class="badge" style="background: white;color: black;padding: 0px;margin-top: -5px;font-size: 1.5rem;"><img style="width: 30px;vertical-align: middle;" src="/templates/app_rambler/assets/icons/fill/all/'+valueCityList.type+'.svg">' +valueCityList.temperature+'</span>'+
						'<a href="?view_mode=citysearch&id='+valueCityList.url_path+'" style="text-decoration: none;">'+
						'<span style="color:gray">'+valueCityList.region+' → </span><b>'+valueCityList.city+'</b></a></li>');
					}
				});
			});
		}
	});
}

function whereiam() {
	$('#loaderWhereIAm').show();
	
	$.ajax({
		url: '/ajax/app_rambler.html?ajax=1&request=whereiam',
		success: function(data){
			data = JSON.parse(data);

			$.ajax({
				url: 'https://weather.rambler.ru/api/v3/suggest/?query='+encodeURI(data.name)+'&count=1',
				success: function(data){
					if(data.items[0].temperature > 0) data.items[0].temperature_simb = '+';
					$('#loaderWhereIAm').hide();
					$('#whereiamresult').html('<li class="list-group-item" style="border: 1px solid green;margin-bottom: 10px;">'+
					'<span class="badge" style="background: white;color: black;padding: 0px;margin-top: -5px;font-size: 1.5rem;"><img style="width: 30px;vertical-align: middle;" src="/templates/app_rambler/assets/icons/fill/all/'+data.items[0].type+'.svg">' +data.items[0].temperature_simb+data.items[0].temperature+'</span>'+
					'<a href="?view_mode=citysearch&id='+data.items[0].url_path+'" style="text-decoration: none;">'+
					'<span class="badge" style="margin-right: 10px;background:#5cb85c">Мой город</span> <span style="color:gray">'+data.items[0].region+' → </span><b>'+data.items[0].city+'</b></a></li>');
				}
			});
		}
	});
}

$(function() {
	[#if IAMHERE != ''#]searchCity();[#endif#]
	whereiam();
});
</script>

<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-md-12" style="margin-bottom: 15px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Добавить новый город</h3>
			</div>
			<div class="panel-body">
				<div class="row" style="margin:0px">
					<div class="col-md-12 text-right" style="margin-bottom: 15px;padding: 0px;">
						<div id="loaderWhereIAm" style="display:none;margin-bottom: 15px;color: gray">
							<img src="/templates/app_rambler/assets/img/loader.gif" style="width: 18px;"> Ищем ваш город...
						</div>
					</div>
				</div>
				
				<input type="text" class="form-control" id="searchInput" onInput="searchCity();" value="[#IAMHERE#]" placeholder="Поиск города по названию..." autocomplete="off">
				
				
				<div id="loaderResult" style="display:none;text-align: center;margin: 15px;font-weight: bold;">
					<img src="/templates/app_rambler/assets/img/loader.gif" style="width: 24px;"> Ищем города...
				</div>
				
				<ul class="list-group" style="margin-top: 10px;">
					<span id="whereiamresult"></span>
					<span id="result"></span>
				</ul>
			</div>
		</div>
		
	
	</div>
</div>
[#endif#]

[#if VIEW_MODE != "loaddata" AND VIEW_MODE != "addcity"#]
<div class="row" style="margin-right: -15px;margin-left: -15px;">
	<div class="col-md-12 text-right" style="margin-bottom: 15px;">
		<a class="btn btn-default btn-success" href="?view_mode=addcity">Добавить новый город</a>
	</div>
	<div class="col-md-12" style="margin-bottom: 15px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Получение погоды</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>URL Path</th>
								<th>Город</th>
								<th>Обновлен</th>
								<th>Текущая</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						[#begin CITY_ALL#]
						<tr>
						<td>[#ID#]</td>
						<td>[#URL_PATH#]</td>
						<td>[#TITLE#]</td>
						<td>[#UPDATE#]</td>
						<td [#if CURRENT_WEATHER_TEMPERATURE#]style="background-image: url(/templates/app_rambler/assets/icons/fill/all/[#CURRENT_WEATHER_ICON#].svg);background-repeat: no-repeat;background-size: 40%;background-position: right center;"[#endif#]>[#CURRENT_WEATHER_TEMPERATURE#]</td>
						<td class="text-right">
							<div class="btn-group">
								<a href="?view_mode=loaddata&id=[#ID#]&mode=current_weather" class="btn btn-default btn-xs">Данные</a>
								<a href="?view_mode=loadweather&id=[#URL_PATH#]" class="btn btn-warning btn-xs">Обновить</a>
								<a href="?view_mode=deletecity&id=[#ID#]" onclick="return confirm('Вы уверены? Пожалуйста, подтвердите операцию.')" class="btn btn-danger btn-xs">Удалить</a>
							</div>
						</td>
						</tr>
						[#end CITY_ALL#]
						</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</div>
[#endif#]
[#if VIEW_MODE == "loaddata"#]
	<script>
	$(function() {
		$('.breadcrumb:eq(0)').last().append('<li><a href="?view_mode=loaddata&id=[#ID#]&mode=current_weather">[#CITY_TITLE#]</a></li>');
		
		setTimeout(function(){
			$('#loaderContent').hide();
			
			if($('table>tbody>tr').length == 0) {
				$('#nodatafound').show();
			} else {
				$('.table-responsive').show();
			}
		}, 2000);
	});
	</script>
	<div class="row" style="margin-right: -15px;margin-left: -15px;">
		<div class="col-md-6" style="margin-bottom: 15px;">
			<p style="font-size: 1.7rem;">[#CITY_TITLE#]</p>
		</div>
		<div class="col-md-6 text-right" style="margin-bottom: 15px;">
			<a class="btn btn-default btn-success" href="?view_mode=addcity">Добавить новый город</a>
		</div>
	</div>
	<div class="row" style="margin-right: -15px;margin-left: -15px;">
		<div class="col-md-12" style="margin-bottom: 15px;">
			<div class="alert alert-info text-center">Обратите внимание! Первая выгрузка данных происходит после добавления города, далее раз в час будут обновляться только те данные, с которыми связано свойство или метод! Обновить все данные в ручную можно нажав кнопку "Обновить" на главной странице модуля.</div>
		</div>
		<div class="col-md-12" style="margin-bottom: 15px;">
			<ul class="nav nav-pills" style="margin-bottom:15px;">
				<li [#if MODE == "current_weather"#]class="active"[#endif#]><a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=current_weather">Текущая погода</a></li>
				<li [#if MODE == "userip"#]class="active"[#endif#]><a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=userip">IP адрес</a></li>
				<li [#if MODE == "currencies"#]class="active"[#endif#]><a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=currencies">Валюта</a></li>
				<li [#if MODE == "goroskop"#]class="active"[#endif#]><a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=goroskop">Гороскоп</a></li>
				<li [#if MODE == "traffic"#]class="active"[#endif#]><a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=traffic">Пробки</a></li>
			</ul>
			
			<div id="loaderContent" style="text-align: center;margin: 15px;font-weight: bold;">
				<img src="/templates/app_rambler/assets/img/loader.gif" style="width: 24px;"> Выгружаем информацию...
			</div>
			
			<div style="display:none;" id="nodatafound" class="alert alert-warning text-center">Нет данных по выбраной категории.</div>
			
			<div class="table-responsive" style="display:none;">
				<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
					<table class="table table-hover" style="border: 1px solid gainsboro;">
						<thead>
							<tr>
								<th>Название</th>
								<th>Значение</th>
								<th>Обновлен</th>
								<th>Объект</th>
								<th>Свойство</th>
								<th>Метод</th>
							</tr>
						</thead>
						<tbody>
						[#begin CITY_DATA#]
							[#begin DATA#]
								<tr>
								<td>
									[#TITLE#]
									<p style="font-size: 1rem;color: gray;text-transform: lowercase;">[#CONTENT_TYPE#]</p>
								</td>
								<td>[#VALUE#]</td>
								<td>[#UPDATE_HUMAN#]</td>
								<td><input type="text" name="linked_object[#ID#]" id="linked_object[#ID#]" value="[#LINKED_OBJECT#]"></td>
								<td><input type="text" name="linked_property[#ID#]" id="linked_property[#ID#]" value="[#LINKED_PROPERTY#]"></td>
								<td><input type="text" name="linked_method[#ID#]" id="linked_method[#ID#]" value="[#LINKED_METHOD#]"></td>
								[#module name="linkedobject" object_field="linked_object[#ID#]" property_field="linked_property[#ID#]" method_field="linked_method[#ID#]" width="100%"#]
								</tr>
							[#end DATA#]
						[#end CITY_DATA#]
						</tbody>
					</table>
					<div class="col-md-12 text-center" style="padding: 0;">
						<input type="hidden" name="view_mode" value="savelink">
						<input type="hidden" name="id" value="[#ID#]">
						<input type="hidden" name="mode" value="[#MODE#]">
						<button type="submit" name="subm" value="Submit" class="btn btn-lg btn-success"><i class="las la-save"></i> Сохранить</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
[#endif#]
